/* =========================
   NAVBAR
========================= */

header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(15,23,42,.95);
    border-bottom: 1px solid var(--border);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
}

.nav-links{
    display: flex;
    gap: 2rem;
}

.nav-links a{
    color: var(--gray);
    transition: color .3s;
}

.nav-links a:hover{
    color: var(--primary);
    font-weight: 600;
}

.nav-links a {
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 2px;
    background: var(--primary);
    transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after {
    width: 100%;
}

.menu-toggle{

    display:none;

    background:none;

    border:none;

    color:var(--white);

    font-size:2rem;

    cursor:pointer;

}

/* =========================
   BUTTONS
========================= */

.btn{
    display: inline-block;
    padding: 14px 28px;
    background: var(--primary);
    color: var(--white);
    border: 2px solid transparent;
    border-radius: 50px;
    font-weight: 600;
    transition: all .3s ease;
    margin-right: 1rem;
}

.btn:hover{
    transform: translateY(-3px);
    background: var(--secondary);
}

.btn-outline{
    background: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
}

.btn-outline:hover{
    background: var(--primary);
    color: var(--white);
}

/* =========================
   SCROLL TO TOP
========================= */

.scroll-top {
    position: fixed;
    right: 30px;
    bottom: 30px;

    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--primary);
    color: var(--white);

    border: none;
    border-radius: 50%;

    font-size: 1.4rem;
    cursor: pointer;

    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);

    transition: all 0.3s ease;

    z-index: 999;
}

.scroll-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.scroll-top:hover {
    background: var(--secondary);
    transform: translateY(-4px);
}