/* =========================
   GOOGLE FONT
========================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* =========================
   COLORS
========================= */

:root{

    --primary:#2563EB;
    --secondary:#38BDF8;

    --background:#0F172A;
    --surface:#1E293B;

    --white:#F8FAFC;
    --gray:#94A3B8;

    --border:#334155;

    --success:#22C55E;

}

/* =========================
   FONT
========================= */

:root{

    --font:'Poppins',sans-serif;

}

/* =========================
   SPACING
========================= */

:root{

    --section-padding:100px;
    --container-width:1200px;

}

/* =========================
   BORDER
========================= */

:root{

    --radius:12px;

}

/* =========================
   SHADOW
========================= */

:root{

    --shadow:

    0 10px 30px rgba(0,0,0,.20);

}